In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('egd').getOrCreate()

In [97]:
import pyspark.sql.functions as F
import os
from pyspark.sql.functions import col, lit

singles=spark.read.option("header","true").option("inferSchema","true") \
.csv('singles')

singles = singles.withColumn(
    "Origem",  # Replace with your desired column name
    lit('Singles')  # Use lit() to create a literal value expression
)

doubles=spark.read.option("header","true").option("inferSchema","true") \
.csv('doubles')

doubles = doubles.withColumn(
    "Origem",  # Replace with your desired column name
    lit('Doubles')  # Use lit() to create a literal value expression
)

futures=spark.read.option("header","true").option("inferSchema","true") \
.csv('futures')

futures = futures.withColumn(
    "Origem",  # Replace with your desired column name
    lit('Futures')  # Use lit() to create a literal value expression
)

qual_chal = spark.read.option("header","true").option("inferSchema","true") \
.csv('qual_chal')

qual_chal = qual_chal.withColumn(
    "Origem",  # Replace with your desired column name
    lit('Qualificacao_Challenger')  # Use lit() to create a literal value expression
)

amat = spark.read.option("header","true").option("inferSchema","true") \
.csv('atp_matches_amateur.csv')

amat = amat.withColumn(
    "Origem",  # Replace with your desired column name
    lit('Amateur')  # Use lit() to create a literal value expression
)

In [98]:
len(matches_completos.columns)

50

In [99]:
matches_completos = singles.unionAll(futures)
matches_completos = matches_completos.unionAll(qual_chal)
matches_completos=matches_completos.unionAll(amat)

In [100]:
colunas_unicas_doubles = list(set(doubles.columns) - set(matches_completos.columns))

for a in colunas_unicas_doubles:
    matches_completos = matches_completos.withColumn(
    a,  # Replace with your desired column name
    lit(None)  # Use lit() to create a literal value expression
)

In [101]:
colunas_unicas_matches_completos = list(set(matches_completos.columns) - set(doubles.columns))

for a in colunas_unicas_matches_completos:
    doubles = doubles.withColumn(
    a,  # Replace with your desired column name
    lit(None)  # Use lit() to create a literal value expression
)

In [102]:
matches_completos=matches_completos.unionAll(doubles)

In [103]:
len(matches_completos.columns)

82

In [104]:
matches_completos.select('tourney_id').show()

+----------+
|tourney_id|
+----------+
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
|  1994-339|
+----------+
only showing top 20 rows